<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-xlr_Audit</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>xlr_Audit</id>
      <filePathMask>tag:XLR</filePathMask>
      <fileNameMask>audit*.log*</fileNameMask>
      <priority>100</priority>
      <expression>(*) * [(*)] (*) - (**)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1485437885049</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>date</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>true</summary>
          <index>true</index>
          <description></description>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>thread</name>
          <funct>count(_host)</funct>
          <visible>false</visible>
          <summary>true</summary>
          <index>true</index>
          <description></description>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>user</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>3</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>data</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>4</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>action</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>(*)</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?(\S+).*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>target</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>* (**)</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?[^ ]+(.*)</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>CI</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>\[(**)\]</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?\[(.*)\].*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
      </fields>
      <example>
        <string>2017-01-26 12:02:46.732 [audit.repository] admin -     Created CIs xlrelease.ActivityLogEntry[Applications/] </string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-xlr_Log</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>xlr_Log</id>
      <filePathMask>tag:XLR</filePathMask>
      <fileNameMask>xl-release*.log*</fileNameMask>
      <priority>100</priority>
      <expression>(*) * [(*)] \{(**)\} (*) (**) - (**)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1485429993249</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>date</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>true</summary>
          <index>true</index>
          <description></description>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>thread</name>
          <funct>count(_host)</funct>
          <visible>false</visible>
          <summary>true</summary>
          <index>true</index>
          <description></description>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>mdc</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>true</summary>
          <index>true</index>
          <description></description>
          <groupId>3</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>level</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>true</summary>
          <index>true</index>
          <description></description>
          <groupId>4</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>logger</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>5</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>data</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>6</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
      </fields>
      <example>
        <string>2017-01-23 09:47:01.496 [main] {} WARN  c.x.d.b.l.SyntheticLocalPropertyDescriptor - Required boolean property [xldeploy.DoesCIExist.exists] will be treated as an optional property.</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-xlr_Wrapper</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>xlr_Wrapper</id>
      <filePathMask>tag:XLR</filePathMask>
      <fileNameMask>*wrapper*.log*</fileNameMask>
      <priority>100</priority>
      <expression>split(|,5)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1485430057162</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>level</name>
          <funct>count(_host)</funct>
          <visible>false</visible>
          <summary>true</summary>
          <index>true</index>
          <description></description>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>id</name>
          <funct>count(_host)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>instance</name>
          <funct>count(_host)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>3</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>timestamp</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>4</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>data</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>5</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>processtotal</name>
          <funct>max()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>Processed \d+ of (\d+)</expression>
          <synthSrcField>msg</synthSrcField>
          <synthRegExp>.*?Processed \d+ of (\d+).*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>processed</name>
          <funct>max()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>Processed (\d+) of </expression>
          <synthSrcField>msg</synthSrcField>
          <synthRegExp>.*?Processed (\d+) of .*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>processedpct</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>\((\d+.\d+)</expression>
          <synthSrcField>msg</synthSrcField>
          <synthRegExp>.*?\((\d+\.\d+).*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>unprocessedpct</name>
          <funct>min()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <synthSource>processedpct</synthSource>
          <expression>jep: return 100 - processedpct</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>committed</name>
          <funct>max(_host)</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>(\d+) committed</expression>
          <synthSrcField>msg</synthSrcField>
          <synthRegExp>.*?(\d+) committed.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>skipped</name>
          <funct>max(_host)</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>, (\d+) skipped,</expression>
          <synthSrcField>msg</synthSrcField>
          <synthRegExp>.*?, (\d+) skipped,.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>secondsremaining</name>
          <funct>min()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>(\d+) seconds remaining</expression>
          <synthSrcField>msg</synthSrcField>
          <synthRegExp>.*?(\d+) seconds remaining.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>msg</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>Message=&quot;(**)&quot;</expression>
          <synthSrcField>data</synthSrcField>
          <synthRegExp>.*?Message=&quot;(.*)&quot;.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.SubstringField>
          <name>stepDescription</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expressionControl>substring,stepDescription=,,</expressionControl>
          <synthSrcField>data</synthSrcField>
        </com.liquidlabs.log.fields.field.SubstringField>
      </fields>
      <example>
        <string>FINEST|6932/0|Service XL Release Server|17-01-24 13:14:29|&apos;</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->