<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-XLR,Audit_0u2RdG68tC2NR1aeDt1ZAw==_16audit-.log-</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>XLR,Audit_0u2RdG68tC2NR1aeDt1ZAw==_16audit-.log-</wdId>
      <tags>XLR,Audit</tags>
      <dirName>D:\XLRelease\log</dirName>
      <hosts></hosts>
      <filePattern>audit*.log*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat>yyyy-MM-dd HH:mm:ss.SSS</timeFormat>
      <flush>false</flush>
      <maxAgeDays>90</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat>yyyy-MM-dd HH:mm:ss.SSS</timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>,,None</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-XLR,Wrapper_0u2RdG68tC2NR1aeDt1ZAw==_16wrapper.log-</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>XLR,Wrapper_0u2RdG68tC2NR1aeDt1ZAw==_16wrapper.log-</wdId>
      <tags>XLR,Wrapper</tags>
      <dirName>D:\XLRelease\log</dirName>
      <hosts></hosts>
      <filePattern>wrapper.log*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat>char:|4 yyyy-MM-dd HH:mm:ss.SSS</timeFormat>
      <flush>false</flush>
      <maxAgeDays>90</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat>char:|4 yyyy-MM-dd HH:mm:ss.SSS</timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>,,None</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-XLR_0u2RdG68tC2NR1aeDt1ZAw==_16xl-release.-log-</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>XLR_0u2RdG68tC2NR1aeDt1ZAw==_16xl-release.-log-</wdId>
      <tags>XLR</tags>
      <dirName>D:\XLRelease\log</dirName>
      <hosts></hosts>
      <filePattern>xl-release.*log*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat>yyyy-MM-dd HH:mm:ss.SSS</timeFormat>
      <flush>false</flush>
      <maxAgeDays>90</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat>yyyy-MM-dd HH:mm:ss.SSS</timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>,,None</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->