<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.space.Search-XLR.Audit Tracked User Activity</string>
    <com.liquidlabs.log.space.Search>
      <name>XLR.Audit Tracked User Activity</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(xlr_Audit) user.count(action,) action.exclude(CI) chart(scatter)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-XLR.Release Activity</string>
    <com.liquidlabs.log.space.Search>
      <name>XLR.Release Activity</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>(*) Release | _type.equals(xlr_log) logger.include(c.x.xlrelease.domain.ReleaseActivity) 1.count(,) data.exclude(exception,permissions) chart(stacked)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-XLR.Server Start/Stop</string>
    <com.liquidlabs.log.space.Search>
      <name>XLR.Server Start/Stop</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>started OR shut down | _type.equals(xlr_log) logger.include( c.x.xlrelease.XLReleaseServer) data.include(XL Release has) </string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.Search-XLR.Wrapper Exceptions</string>
    <com.liquidlabs.log.space.Search>
      <name>XLR.Wrapper Exceptions</name>
      <title></title>
      <owner>ls-play</owner>
      <patternFilter>
        <string>* | _type.equals(xlr_Wrapper) _exception.count(,) chart(stacked)</string>
      </patternFilter>
      <logFileFilter></logFileFilter>
      <palette>
        <int>1</int>
      </palette>
      <replayPeriod>60</replayPeriod>
      <lastRecordCount>0</lastRecordCount>
      <variables></variables>
      <simpleMode>false</simpleMode>
    </com.liquidlabs.log.space.Search>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->